extends layout

block content
  div(class='login')
    h1 login
    ul
      li 
        a(href='/auth/github', class='btn btn-block btn-social btn-github') 
          span(class='fa fa-github')
          | Login With Github
      li 
        a(href='/auth/google', class='btn btn-block btn-social btn-google') 
          span(class='fa fa-google')
          | Login With Google

    p your mission, should you choose to accept it, is to login with one of the methods above.

